@font-face {
    font-family: 'minecraft';
    src: url(./fonts/MinecraftRegular-Bmg3.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'minecraft', sans-serif;
    background-color: #87ceeb;
}

#grid {
    display: grid;
    width: 4800px;
    height: 1440px;
    grid-template-columns: repeat(auto-fill, 3rem);
    grid-template-rows: repeat(auto-fill, 3rem);
}

.square:hover {
    border: .5px solid black;
}

.img {
    width: 100%;
    height: 100%;
}

.tools {
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48px;
}

.tools div {
    display: inline-block;
    width: 100%;
}

.tools img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.removed{
    display: none;
}

.blocks{
    display: none;
    position: fixed;
    top: 280px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48px;
}

.blocks div {
    display: inline-block;
    width: 100%;
}

.blocks img {
    display: inline-block;
    width: 100%;
    height: 100%;
}